* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Helvetica, sans-serif;
}

.city {
  font-size: 1em;
}

.time {
  font-size: 1.5rem;
}

.container {
  display: flex;
  min-height: 100vh;
  background-image: url(../imgs/clear.jpg);
  background-size: cover;

  justify-content: end;
}

.displayContainer {
  width: 65%;

  position: absolute;
  top: 20%;
  left: 10%;
}

.mainText {
  display: flex;
  align-items: center;
  gap: 80px;

  font-size: 2rem;
}

.temp {
  font-size: 4em;
  padding-bottom: 20px;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  font-size: 3em;
}

i {
  align-self: center;
}

.weather {
  font-size: 2rem;
}

.sideContainer {
  width: 35%;
  background-color: #152c4482;
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 50px;

  font-size: 1.25rem;
}

.search {
  width: 100%;
}

.weatherDetails,
.weeklyForecast {
  height: 40%;
  border-bottom: 2px rgba(173, 159, 159, 0.37) solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  padding-bottom: 20px;
  flex-grow: 1;
}

.weatherDetails h2 {
  font-size: 1.25em;
}

.weatherDetails div {
  display: flex;
  justify-content: space-between;
}

#cityInput {
  background: none;
  border: none;
  font-size: 1em;

  border-bottom: 2px rgba(173, 159, 159, 0.37) solid;
  padding-bottom: 5px;

  width: 80%;
}

.submit {
  background: url("/src/icons/search.svg");
  background-color: rgba(173, 159, 159, 0.57);

  position: absolute;
  top: 5px;
  right: 5px;
  width: 80px;
  height: 80px;

  border: solid rgba(173, 159, 159, 0.57);
  border-radius: 15px;
}

.submit:active {
  transform: scale(0.95);
}

.submit:hover {
  cursor: pointer;
}
/* TOGGLE SWITCH STYLING */

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 20px;
  left: 20px;
  width: 148px;
  height: 72px;
  /* margin: -20px auto 0 auto; */
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 1 */
.knobs:before {
  content: "\00B0 C";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 40px;
  height: 20px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 0.75;
  padding: 18px 8px;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.checkbox:checked + .knobs:before {
  content: "\00B0 F";
  left: 84px;
  background-color: #f44336;
}

.checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

.knobs,
.knobs:before,
.layer {
  transition: 0.3s ease all;
}
